{{- define "head" -}}
<!doctype html>
<html lang="en" data-theme="light">
<head>
  <!-- Basics -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- SEO meta tags -->
  <meta name="title" content="CodeHat">
  <meta name="description" content="I'm Marc (alias CodeHat) and you're currently viewing my website. I like learning new technologies like Go, but primary I focus on Java.">
  <meta name="keywords" content="codehat, developer, java, golang, laravel">
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta name="author" content="CodeHat (Marc-Niclas Harm)">
  <!-- Favicon stuff -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <!-- Theme stuff -->
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="#eb5e55" />
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#23282f" />
  <!-- Stylesheets -->
  <link rel="stylesheet" href="/static/before.css">
  <link rel="stylesheet" href="/static/pico.min.css">
  <link rel="stylesheet" href="/static/pico.colors.min.css">
  <link rel="stylesheet" href="/static/after.css">
  <!-- Deferred JavaScript -->
  {{- if not .Data.Global.IsDebug }}
  <script async src="https://usage.{{ .Data.Global.Domain }}/script.js" data-account-id="dc755266-771e-46d2-acf8-ffb9c971f02d"></script>
  {{- end }}
  <title>{{ .Data.Global.Host }}</title>
</head>
{{- end -}}